body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.topnav {
    overflow: hidden;
    background-color: transparent;
}   

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    color: black;
    margin-right: 10px;
    border-style: double; 
    border-color:blue;
}

.topnav a:hover {
    background-color:red;
    color: white;
}

#logo {

}